<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--指定配置文件的位置-->
    <context:property-placeholder location="classpath:person.properties"/>

    <bean id="person2" class="bean.Person">
        <property name="name" value="mable"/>
        <property name="age" value="22"/>
    </bean>

    <bean id="person" class="beanproperty.Person">
        <property name="name" value="mable"/>
        <property name="age" value="22"/>
        <property name="nickName" value="${person.nickName}"/>
    </bean>
</beans>